.login{
    display:flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    &__container{
        height:331px;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 23px;
    }

    &__wrapper{
        padding:3.3em 6em 3.4em 6.1em;
    }

    &__title{
        text-align: center;
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 2.25rem;
        color: #1D1D1D; 
        margin-bottom:0.68em;
        // margin-bottom:20px;
    }

    &__field{
        padding:1em 1.35em;
        background: #FFFFFF;
        border: 1px solid #BFBFBF;
        border-radius: 4px;
        margin-bottom:1.07em;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.063rem;
        color: #BFBFBF;
        width: 300px;
    }

}